*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

.org-id-locations
*_archive

*_flymake.*
/elpa/
.cask/
dist/
/server/
.projectile
.dir-locals.el

/.cache/
/el-get/
/eln-cache/
/transient/
/url/
bookmarks
custom.el
projectile-bookmarks.eld
recentf
session*
.dap-breakpoints
.lsp-session*
.mc-lists.el
